doctype html
html(lang="en")
  head
    title="The Junkyard"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/lib/jquery.js')
    block head
  body
    block content