body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form ul {
  list-style: none;
}
form ul label {
  font-weight: bold;
  width: 100px;
  display: block;
  float: left;
  cursor: pointer;
}